@{
    ViewData["Title"] = "Home Page";
}


@model PET.Models.AddNoteViewModel

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PET</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PET.styles.css" asp-append-version="true" />

    @* PrismJs loading *@

    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/themes/prism.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-csharp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-kotlin.min.js"></script>

</head>

<body style="background-color:#36393e">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 p-2 rounded" style="background-color:#63666a">
                <h1 class="text-center">Share your code</h1>
                <p class="text-center">Free way to share your code with short urls and syntax highlighting</p>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form method="post" class="mt-5">
                    <div class="form-group">
                        <textarea id="codeInput" class="form-control" rows="20" style="background-color:#f8f9fa; color:black; resize:none" placeholder="Paste your code here..." asp-for="Text"></textarea>
                    </div>

                    <div class="mt-3 d-flex align-items-center">
                        <button type="button" class="btn btn-primary me-2">Save</button>
                        <button type="button" id="highlightButton" class="btn btn-secondary me-2">Highlight Syntax</button>

                        <select class="form-select w-auto" id="selectedLanguage">
                            <option selected>Select Language</option>
                            <option value="csharp">C#</option>
                            <option value="python">Python</option>
                            <option value="javascript">JavaScript</option>
                            <option value="kotlin">Kotlin</option>

                        </select>
                    </div>

                   

                </form>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <button id="copyButton" class="btn btn-success mb-3" style="display: none;">Copy to Clipboard</button>
                <div id="highlightedCodeContainer"></div>
            </div>
        </div>
</div>
